[Unit]
Description=Start persistent Zomorod/PasarGuard integration guard

[Timer]
OnActiveSec=1s
OnUnitInactiveSec=10s
AccuracySec=1s
Unit=zomorod-integrator.service
Persistent=true

[Install]
WantedBy=timers.target
